<h1>Add ingredients</h1>
<h1><%=@recipe.name%></h1>
<p class="page-title">Add new ingredients</p>
<div class="foods-container">
  <table class="table table-striped table-bordered">
    <thead class= "table-dark">
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td>$ <%= food.price %></td>
        <td>
        <%= form_with model: @recipe_food, url: recipe_recipe_foods_path(@recipe) do |f| %>
          <%= f.hidden_field :recipe_id, value: @recipe.id %>
          <%= f.hidden_field :food_id, value: food.id %>
          <%= f.number_field :quantity, value: 0 %>
          <%= f.submit "Add" %>
        <% end %>        
        </td>
      </tr>
    <% end %>
  </table>
</div>
