<div id="<%= dom_id recipes_food %>">
  <p>
    <strong>Name:</strong>
    <%= recipes_food.name %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= recipes_food.measurement_unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= recipes_food.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= recipes_food.quantity %>
  </p>

</div>
